@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-black text-white font-sans;
}

html {
  scroll-behavior: smooth;
}

.cursor-trail {
  position: fixed;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 9999px;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  transition: background 0.3s ease;
  transform: translate(-50%, -50%);
}